html,
body {
	height: 100%;
	font-family: 'source_sans_proregular', Helvetica, Arial, sans-serif;
}

section {
	text-align: center;
	position: relative;
}

p, ul {
	font-size: 20px;
	text-align: left;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 50px;
	margin: 0 0 30px;
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
}

footer {
	border-top: 5px solid #19645E;
	background-color: #2c3138;
	color: #5fbbb4;
	height: 110px;
}

header {
	position: relative;
}

.subtitle-highlight {
	color: #66ccc3;
	font-family: 'source_sans_probold', Helvetica, Arial, sans-serif;
}

.subtitle-classic {
	color: #282c31;
}

/* HEADER */
	#section-top {
		height: 100%;
		min-height: 500px;
		background-color: #2b3037;
	}

	#section-top header hr {
		max-width: 356px;
		width: 100%;
	}

	#section-top header img {
		margin-top: 120px;
	}

	#section-top header span {
		text-transform: uppercase;
		color: #66ccc3;
		font-size: 25px;
	}

	#fleche-bas {
		position: absolute;
		bottom: 45px;
		left: 0;
		right: 0;
		margin: auto;
		height: 52px;
	}

/* SECTIONS STEP */
	.section-step header {
		display: table;
		height: 250px;
		width: 100%;
	}

	.section-step header div {
		display: table-cell;
		vertical-align: middle;
	}

	.section-step .section-content {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: #ffffff;
		overflow: hidden;
		margin: 0;
	}

	.section-step .section-content p {
		background-color: rgb(30, 33, 38);
		background-color: rgba(30, 33, 38, 0.8);
		padding: 65px;
		margin: 100px auto;
		width: 100%;
		max-width: 555px;
	}

	.to-next {
		position: absolute;
		bottom: -30px;
		margin: auto;
		height: 46px;
		left: 0;
		right: 0;
	}


/* SECTION WHAT */
	#section-what {
		text-align: center;
		position: relative;

	}

	#section-what .image-what {
		background-image: url(../images/marqueurs.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		height: 241px;
		width: 100%;
	}


	#section-what h2 {
		color: #66ccc3;
	}

	#section-what p {
		color: #6d7583;
		width: 100%;
		max-width: 560px;
		margin: auto;
	}

	.section-content {
		margin: 80px 0 100px;
	}

/* SECTION WHY */
	#section-why {
		background-image: url(../images/mac-book.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		overflow: hidden;
		border-bottom: 5px solid #19645e;
	}

	#section-why .section-content .content {
		background-color: rgb(30, 33, 38);
		background-color: rgba(30, 33, 38, 0.8);
		padding: 25px 25px 20px 100px;
		color: #ffffff;
	}

	#section-why h2 {
		text-align: left;
		margin: 0 0 20px;

	}

	#section-why p {
		margin: 0 0 30px;
	}

	#section-why ul {
		padding: 0 0 0 20px;
	}


/* SECTION HOW */
	#section-how h2 {
		padding: 20px 0 25px;
		margin: 0;
	}

	#section-how .section-content {
		color: #ffffff;
		background-color: #2c3138;
		margin: 0;
	}


/* SECTION IMPORT DATA */
	#section-import-data .section-content {
		background-image: url(../images/import-data.jpg);
	}

/* SECTION ANALYSE REPORT */
	#section-analyse-report .section-content {
		background-image: url(../images/analyse-report.jpg);
	}

/* SECTION IMPROVE BACKLOG */
	#section-improve-backlog .section-content {
		background-image: url(../images/improve-backlog.jpg);
	}

/* SECTION IMPROVE TEAM CAPACITY */
	#section-improve-team-capacity .section-content {
		background-image: url(../images/improve-team-capacity.jpg);
	}

/* SECTION IMPROVE QUALITY */
	#section-improve-quality .section-content {
		background-image: url(../images/improve-quality.jpg);
	}

/* SECTION IMPROVE BUDGET */
	#section-improve-budget .section-content {
		background-image: url(../images/improve-budget.jpg);
	}

/* SECTION GOT IT */
	#section-got-it h2 {
		font-family: 'source_sans_proextralight', Helvetica, Arial, sans-serif;
	}

	#section-got-it div {
		display: table;
		width: 100%;
	}

	#section-got-it a {
		background-color: #19635d;
		border: 2px solid #66ccc3;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 17px;
		margin: 0 auto;
		width: 250px;
		height: 39px;
		line-height: 35px;
		display: block;
	}

	#section-got-it p {
		margin: 0 auto;
	}

	#section-got-it .section-content p {
		 margin: 0 auto;
	}


/* FOOTER */

	#section-footer {
		display: table;
		width: 100%;
	}

	#section-footer .section-content {
		margin: 0 auto;
		display: table-cell;
		vertical-align: middle;
	}

	#section-footer p {
		text-align: center;
		margin: 0 0 0 0;
	}

	#section-footer .logo-icone {
		height: 41px;
		margin: 7px 0 7px 0;
	}
	#section-footer .copyright {
		font-size: 14px;
	}

	#section-footer .texte-footer {
		font-size: 12px;
		padding: 4px 0 0 0;
	}

	#section-footer a {
		font-size: 12px;
		color: #5fbbb4;`
		text-decoration: none;
	}


/* FONTS */
	@font-face {
	    font-family: 'source_sans_proregular';
	    src: url('../fonts/sourcesanspro-regular-webfont.eot');
	    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
	         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'source_sans_probold';
	    src: url('../fonts/sourcesanspro-bold-webfont.eot');
	    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
	         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
	         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
	         url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'source_sans_proextralight';
	    src: url('../fonts/sourcesanspro-extralight-webfont.eot');
	    src: url('../fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
	         url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
	         url('../fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
	         url('../fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
	    font-weight: normal;
	    font-style: normal;

}